.bg-gradient-custom-danger
{
    background: linear-gradient(87deg, #0D9BFF 0, #0056FF 100%) !important;
}
.btn-primary-custom
{
    color: #fff;
    border-color: #0D9BFF;
    background-color: #0D9BFF;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}